<h1>Search Users</h1>
<%= link_to 'Advanced mode', advanced_search_users_path %>

<%= search_form_for @search do |f| %>
  <fieldset>
    <legend>User</legend>
    <ul>
      <li>
        <%= f.label :first_name_or_last_name_cont %>
        <%= f.text_field :first_name_or_last_name_cont %>
      </li>
      <li>
        <%= f.label :email_cont %>
        <%= f.text_field :email_cont %>
      </li>
    </ul>
  </fieldset>

  <fieldset>
    <legend>User's Posts</legend>
    <ul>
      <li>
        <%= f.label :posts_title_cont %>
        <%= f.text_field :posts_title_cont %>
      </li>
    </ul>
  </fieldset>

  <%= label_tag :distinct, 'Return distinct records?' %>
  <%= check_box_tag :distinct, '1', params[:distinct].to_i == 1 %>
  <%= f.submit %>
<% end %>

<%= render 'results' %>